@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use this website to keep a record of all your mountain bike settings.</p>
    <hr style="width: 50%; margin:auto" />
    <br />
    <br />
    <br />
    <img class="rounded" src="/images/bfe.jpg" width="825" height="660" alt="coticbfe">
</div>
